<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TEProtectorV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <TEProtectorV1.Properties.Settings>
      <setting name="idaccess" serializeAs="String">
        <value />
      </setting>
      <setting name="isLogin" serializeAs="String">
        <value>False</value>
      </setting>
    </TEProtectorV1.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="AccountTEConnectionString" connectionString="Server=.; Database=TEProtector; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>